@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* Utilities */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 50px;
}
p{
    font-size: 12px;
    font-weight: 500px;
}
button{
    padding: 20px 20px;
    color: white;
    background-color: #FFC066;
    border: none;
    font-size: 24px;
}
/* Navbar design  */
.navbar{
    display: flex;
    justify-content: space-between;
}
.navmenu{
    margin-top: 15px;
}

/* Hero section Design  */
.hero-section{
    display: flex;
    gap: 100px;
    justify-content: space-around;
    align-items: center;
}
.hero-image{
    margin-left: 100px;
}
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.tag{
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: white;
    background-color: #149F39;
    padding: 10px 20px;
    align-self:flex-start;
}
.main-text{
    font-size: 72px;
    font-weight: 500;
    color: #000000;
    margin: 0;
}
.extraline{
    color: #000000;
}
.btn{
    align-self: flex-start;
}

/* Card Design  */
.card-container{
    display: flex;
    gap: 50px;
    justify-content: space-around;
    margin: 100px 100px 50px 100px;
}
.card{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 5px;
    background-color: white;
    transition: all 1s ease-in-out;
}
.card:hover{
    opacity: 0.8;
    box-shadow: 10px 5px 5px gray ;
}
.card-heading{
    font-size: 18px;
    font-weight: 600;
    margin:0;
}
/* MENU Design  */
.menu{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
.menu-tag{
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: white;
    background-color: #149F39;
    padding: 10px 20px;
    align-self: center;
}
.grid{
    display: grid;
    gap:10px;
    grid-template-areas:
        "I1 I1 I2 I3"
        "I1 I1 I2 I7"
        "I4 I5 I6 I7" ;
}
.item1{
    grid-area: I1;
}
.item2{
    grid-area: I2;
}
.item3{
    grid-area: I3;
}
.item4{
    grid-area: I4;
}
.item5{
    grid-area: I5;
}
.item6{
    grid-area: I6;
}
.item7{
    grid-area: I7;
}

/* Footer Design  */
footer{
    margin-top: 100px;
    background-color: #ffc472e8;
    display: flex;
    gap:50px;
    justify-content: space-around;
    padding: 100px;
}
li{
    list-style: none;
    margin-bottom: 5px;
}

.social-icons li{
    padding-right: 5px;
}
input{
    padding : 2px 5px;
}

@media (max-width:786px) {
    body{
        margin: 0;
    }
    .hero-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .main-text{
        font-size: 32px;
    }
    .tag{
        align-self: center;
    }
    .tag-menu{
        align-self: center;
    }
    .card-container{
        flex-direction: column;
    }
    .btn{
        align-self: center;
    }
    .grid{
        grid-template-areas:
        "I1 I1"
        "I1 I1"
        "I3 I4"
        "I2 I7"
        "I5 I6";
    }
    footer{
        flex-direction: column;
        padding: 0 0 10 0;
        margin: 10px;
        justify-content: center;
    }
}
